<% content_for :head do %>
  <%= vite_typescript_tag 'home.tsx' %>
<% end %>
<div id="root"
     data-company-id="<%= @company_id %>"
     data-store-name="<%= @integration_settings&.settings&.dig('store_name') %>"
     data-warehouse-name="<%= @integration_settings&.settings&.dig('warehouse_name') %>"
     data-username="<%= @integration_settings&.settings&.dig('username') %>"
     data-password="<%= @integration_settings&.settings&.dig('password') %>">
</div>
