<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Fluid Droplets" %></title>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'application' %>
    <%= vite_typescript_tag 'application' %>
    <%= yield :head %>
  </head>
  <body class="h-full antialiased">
    <div class="group/sidebar-wrapper flex min-h-screen w-full">
      <%= render partial: 'shared/sidebar' %>

      <main class="relative flex min-h-screen flex-1 flex-col bg-background peer-data-[variant=inset]:min-h-[calc(100vh-theme(spacing.4))] md:peer-data-[variant=inset]:m-2 md:peer-data-[state=collapsed]:peer-data-[variant=inset]:ml-2 md:peer-data-[variant=inset]:ml-0 md:peer-data-[variant=inset]:rounded-xl md:peer-data-[variant=inset]:shadow">
        <%= render partial: 'shared/header' %>
        <div class="flex flex-1 flex-col gap-4 p-4 pt-0">
          <div class="gradient-background p-4 min-h-[100vh] flex-1 overflow-hidden rounded-xl border border-gray-200 md:min-h-min">
            <%= yield %>
          </div>
        </div>
      </main>
    </div>

    <!-- Flash messages -->
    <section aria-label="Notifications" tabindex="-1" aria-live="polite" aria-relevant="additions text" aria-atomic="false">
      <% flash.each do |type, message| %>
        <div class="notification <%= type %>">
          <%= message %>
        </div>
      <% end %>
    </section>
  </body>
</html>